:root {
  --blue-color: #2196f3;
  --blaсk-color: #212121;
  --gray-color: #757575;
  --white-color: #ffffff;
  --title-color: #2f303a;
  --team-color: #f5f4fa;
  --footer-mail-tel-color: rgba(255, 255, 255, 0.6);
  --type-footer-logo: 'Raleway';
  --button-font-family: 'Roboto';
}
.body {
  font-family: 'Roboto';
  font-style: normal;
}
/* HEADER */
.ul-nav {
  list-style: none;
}
.nav-studio:hover,
.nav-portfolio:hover,
.nav-contacts:hover,
.mail-telefon:hover {
  color: var(--blue-color);
}
.nav-studio {
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.42;
  color: var(--blaсk-color);
  letter-spacing: 0.02em;
}

.nav-portfolio {
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.42;
  color: var(--blaсk-color);
  letter-spacing: 0.02em;
}
.nav-contacts {
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.42;
  color: var(--blaсk-color);
  letter-spacing: 0.02em;
}
.header-href {
  text-decoration: none;
}
.logo-web {
  font-family: var(--type-footer-logo);
  font-size: 26px;
  line-height: 1.191;
  color: var(--blue-color);
}
.logo-studio {
  font-family: var(--type-footer-logo);
  font-size: 26px;
  line-height: 1.191;
  color: #000000;
}
.ul-header {
  list-style: none;
  font-weight: 500;
}
.mail-telefon {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.142;
  color: var(--gray-color);
  letter-spacing: 0.02em;
}

/* MAIN*/
.title {
  background-color: var(--title-color);
}
.title-h {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  color: var(--white-color);
  letter-spacing: 0.06em;
}
.title-button {
  font-family: var(--button-font-family);
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--blue-color);
  color: var(--white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: none;
}
.benefits-ul {
  list-style: none;
}
.section-h {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--blaсk-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.benefits-h {
  font-size: 14px;
  line-height: 1.142;
  color: var(--blaсk-color);
  letter-spacing: 0.03em;
}
.benefits-p {
  font-size: 14px;
  line-height: 1.714;
  color: var(--gray-color);
  letter-spacing: 0.03em;
}
.images-ul {
  list-style: none;
}
.team {
  background-color: var(--team-color);
}
.team-ul {
  list-style: none;
}
.team-h {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--blaсk-color);
  letter-spacing: 0.03em;
}
.team-p {
  font-size: 16px;
  line-height: 1.18;
  color: var(--gray-color);
  letter-spacing: 0.03em;
}

/* FOOTER */
.footer {
  background-color: var(--title-color);
}
.footer-a {
  text-decoration: none;
}
.footer-web {
  font-family: var(--type-footer-logo);
  font-size: 26px;
  line-height: 1.191;
  letter-spacing: 0.03em;
  color: var(--blue-color);
}
.footer-studio {
  font-family: var(--type-footer-logo);
  font-size: 26px;
  line-height: 1.191;
  color: var(--white-color);
  letter-spacing: 0.03em;
}
.footer-ul {
  list-style: none;
}
.adres {
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
  letter-spacing: 0.03em;
}
.footer-main-telefon {
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-mail-tel-color);
  letter-spacing: 0.03em;
}

.adres:hover,
.footer-mail:hover,
.footer-tel:hover {
  color: var(--blue-color);
}

/* PORTFOLIO */
.button-ul {
  list-style: none;
}
.button-everyone {
  font-family: var(--button-font-family);
  cursor: pointer;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border: none;
  font-weight: 500;
}
.button-websites {
  font-family: var(--button-font-family);
  cursor: pointer;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--blaсk-color);
  border: none;
  font-weight: 500;
}
.button-appendices {
  font-family: var(--button-font-family);
  cursor: pointer;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--blaсk-color);
  border: none;
  font-weight: 500;
}
.button-design {
  font-family: var(--button-font-family);
  cursor: pointer;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--blaсk-color);
  border: none;
  font-weight: 500;
}
.button-marketing {
  font-family: var(--button-font-family);
  cursor: pointer;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--blaсk-color);
  border: none;
  font-weight: 500;
}
.button-everyone:hover,
.button-websites:hover,
.button-appendices:hover,
.button-design:hover,
.button-marketing:hover {
  color: var(--white-color);
  background-color: var(--blue-color);
}
.portfolio-ul {
  list-style: none;
}
.portfolio-h {
  font-size: 18px;
  line-height: 2;
  color: var(--blaсk-color);
  letter-spacing: 0.03em;
}
.portfolio-p {
  font-size: 16px;
  line-height: 1.875;
  color: var(--gray-color);
  letter-spacing: 0.03em;
}
